.lifehack{
  margin: 0px auto;
  margin-bottom: 25px;
  background-color: white;

}

div.hack{
  display: inline-block;
  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 25px;
  position: relative;
}

.hack a{
  color:green;
}

#accordion h3:hover{
  cursor: pointer;

}
