.place{
  display: flex;
}
div.place div{
  float: left;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 25px;
  position: relative;
  width: 40%;
  text-align: center;
  margin-bottom: 25px;
}
